In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../processed_data/all_variants.sqlite')
conn.executescript('''\
PRAGMA cache_size=-4192000;
PRAGMA temp_store=MEMORY;
PRAGMA journal_mode=OFF;
''')

## Filter only the samples shared by GDC and MC3

In [3]:
c = conn.execute('''SELECT DISTINCT tumor_sample_barcode FROM mc3_selected''')
mc3_samples = [t[0] for t in c.fetchall()]
c = conn.execute('''SELECT DISTINCT tumor_sample_barcode FROM gdc_grouped_callers''')
gdc_samples = [t[0] for t in c.fetchall()]
print(f'MC3: {len(mc3_samples)}, GDC: {len(gdc_samples)} samples')

gdc_only_samples = set(gdc_samples) - set(mc3_samples)

MC3: 1902, GDC: 1965 samples

In [4]:
_gdc_samples_sql_literal = ','.join(f"'{sample}'" for sample in gdc_only_samples)
c = conn.execute(f'''\
CREATE VIEW IF NOT EXISTS gdc_grp_shared_samples AS
SELECT * FROM gdc_grouped_callers
WHERE tumor_sample_barcode NOT IN ({_gdc_samples_sql_literal})
''')

In [5]:
df_variant_class = pd.merge(
    pd.read_sql('''\
SELECT variant_classification, count(*) AS 'mc3_count'
FROM mc3_selected
GROUP BY variant_classification
ORDER BY mc3_count DESC
''', conn),
    pd.read_sql('''\
SELECT variant_classification, count(*) AS 'gdc_count'
FROM gdc_grp_shared_samples
GROUP BY variant_classification
ORDER BY gdc_count DESC
''', conn),
    how='outer',
    on='variant_classification'
)

df_variant_class = df_variant_class.fillna(0).assign(
    mc3_count = lambda df: df.mc3_count.astype(int),
    gdc_count = lambda df: df.gdc_count.astype(int)
)

In [6]:
df_variant_class

    variant_classification  mc3_count  gdc_count
0        Missense_Mutation     236394     249236
1                   Silent      91918      91839
2                    3'UTR      31933      40730
3          Frame_Shift_Del      24386      24221
4        Nonsense_Mutation      18048      20366
5                   Intron      14440      25368
6                    5'UTR      10959      12096
7              Splice_Site       7080       6109
8          Frame_Shift_Ins       6726      11455
9                      RNA       5301       8391
10            In_Frame_Del       2297       2746
11                 3'Flank       2032       3702
12                 5'Flank       1874       3190
13  Translation_Start_Site        315        346
14        Nonstop_Mutation        260        276
15            In_Frame_Ins        165       1920
16           Splice_Region          0       5016
17                     IGR          0         49

In [7]:
df_variant_class.sum()

variant_classification    Missense_MutationSilent3'UTRFrame_Shift_DelNon...
mc3_count                                                            454128
gdc_count                                                            507056
dtype: object

In [8]:
df_per_tx_sample_variant_type = pd.read_sql('''\
WITH gdc_by_tx AS (
    SELECT hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode, count(*) AS 'gdc_count'
    FROM gdc_grp_shared_samples
    GROUP BY hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode
), mc3_by_tx AS (
    SELECT hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode, count(*) AS 'mc3_count'
    FROM mc3_selected
    GROUP BY hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode
)
SELECT hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode, gdc_count, mc3_count FROM gdc_by_tx
LEFT JOIN mc3_by_tx 
USING (hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode)
UNION ALL
SELECT hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode, gdc_count, mc3_count FROM mc3_by_tx
LEFT JOIN gdc_by_tx
USING (hugo_symbol, transcript_id, variant_classification, tumor_sample_barcode)
WHERE gdc_by_tx.gdc_count IS NULL
''', conn)

In [9]:
df_per_tx_sample_variant_type = (
    df_per_tx_sample_variant_type
    .fillna(0)
    .assign(
        gdc_count=lambda df: df.gdc_count.astype(int),
        mc3_count=lambda df: df.mc3_count.astype(int))
    .assign(
        diff=lambda df: df.gdc_count-df.mc3_count
    )
    .sort_values(['diff'], ascending=False)
)

In [10]:
df_per_tx_sample_variant_type.head()

,hugo_symbol,transcript_id,variant_classification,tumor_sample_barcode,gdc_count,mc3_count,diff
430735,TTN,ENST00000591111,Missense_Mutation,TCGA-AA-A010-01A-01D-A17O-10,29,0,29
430863,TTN,ENST00000591111,Missense_Mutation,TCGA-CA-6717-01A-11D-1835-10,29,0,29
430776,TTN,ENST00000591111,Missense_Mutation,TCGA-AN-A046-01A-21W-A050-09,28,0,28
430734,TTN,ENST00000591111,Missense_Mutation,TCGA-AA-A00N-01A-02D-A17O-10,28,0,28
430813,TTN,ENST00000591111,Missense_Mutation,TCGA-AZ-4315-01A-01D-1408-10,23,0,23

In [11]:
df_per_tx_sample_variant_type[
    (df_per_tx_sample_variant_type['hugo_symbol'] == 'TP53') &
    (df_per_tx_sample_variant_type['tumor_sample_barcode'] == 'TCGA-13-0755-01A-01W-0371-08')
]

,hugo_symbol,transcript_id,variant_classification,tumor_sample_barcode,gdc_count,mc3_count,diff
420141,TP53,ENST00000269305,Splice_Region,TCGA-13-0755-01A-01W-0371-08,2,0,2
588258,TP53,ENST00000269305,Silent,TCGA-13-0755-01A-01W-0371-08,0,1,-1

In [12]:
df_per_tx_sample = (
    df_per_tx_sample_variant_type
    .groupby(['hugo_symbol', 'transcript_id', 'tumor_sample_barcode'])
    .sum()
    .sort_values(['diff'], ascending=False)
    .reset_index()
)

In [13]:
df_per_tx_sample.head()

,hugo_symbol,transcript_id,tumor_sample_barcode,gdc_count,mc3_count,diff
0,TTN,ENST00000591111,TCGA-CA-6717-01A-11D-1835-10,68,0,68
1,TTN,ENST00000591111,TCGA-AA-A010-01A-01D-A17O-10,48,0,48
2,TTN,ENST00000591111,TCGA-AN-A046-01A-21W-A050-09,45,0,45
3,TTN,ENST00000591111,TCGA-AZ-4315-01A-01D-1408-10,44,0,44
4,TTN,ENST00000591111,TCGA-AA-A00N-01A-02D-A17O-10,40,0,40

In [14]:
df_per_tx = (
    df_per_tx_sample.groupby(['hugo_symbol', 'transcript_id'])
    .sum()
    .reset_index()
    .assign(absdiff = lambda df: df['diff'].abs())
    .sort_values(['absdiff'], ascending=False)
)

In [15]:
df_per_tx[df_per_tx['absdiff'] >= 150].sort_values(['hugo_symbol', 'mc3_count'])

      hugo_symbol    transcript_id  gdc_count  mc3_count  diff  absdiff
673        ADGRV1  ENST00000405460        217          0   217      217
1026        ALMS1  ENST00000613296        155          0   155      155
1389          APC  ENST00000257430        598          0   598      598
1390          APC  ENST00000457016          0        559  -559      559
3587      CCDC168  ENST00000322527        284         93   191      191
5184        CSMD1  ENST00000520002        257          0   257      257
5185        CSMD1  ENST00000537824          0        265  -265      265
5759        DCHS2  ENST00000623607        164          0   164      164
5757        DCHS2  ENST00000357232          0        155  -155      155
6164       DNAH11  ENST00000409508        248          0   248      248
6163       DNAH11  ENST00000328843          0        230  -230      230
6176        DNAH2  ENST00000389173        170          0   170      170
6177        DNAH2  ENST00000572933          0        169  -169      169
6423          DST  ENST00000312431        381          0   381      381
6422          DST  ENST00000244364          0        329  -329      329
7186          EYS  ENST00000370616        163          0   163      163
7671         FAT3  ENST00000525166        281          0   281      281
7670         FAT3  ENST00000298047          0        258  -258      258
7781        FCGBP  ENST00000616721        197          0   197      197
7780        FCGBP  ENST00000221347          0        156  -156      156
8422        GATA3  ENST00000346208        183          0   183      183
8423        GATA3  ENST00000379328          0        175  -175      175
9048        GPR98  ENST00000405460          0        206  -206      206
10073       HUWE1  ENST00000262854        159          0   159      159
12586       MACF1  ENST00000372915        275          0   275      275
12587       MACF1  ENST00000545844          0        201  -201      201
13965        MUC2  ENST00000361558        188          0   188      188
13971        MUC4  ENST00000463781        474        148   326      326
14023      MYCBP2  ENST00000357337        167          0   167      167
14024      MYCBP2  ENST00000544440          0        159  -159      159
14436         NEB  ENST00000172853        304          0   304      304
14437         NEB  ENST00000397345          0        299  -299      299
15159       OBSCN  ENST00000422127        380          0   380      380
15160       OBSCN  ENST00000570156          0        391  -391      391
16213     PDE4DIP  ENST00000369356          0        175  -175      175
19788        SACS  ENST00000382292        198          0   198      198
19789        SACS  ENST00000382298          0        180  -180      180
22202       SYNE2  ENST00000344113        259          0   259      259
22203       SYNE2  ENST00000358025          5        235  -230      230
22628       TENM1  ENST00000371130        166          0   166      166
22650        TET2  ENST00000380013        158          0   158      158
23462        TP53  ENST00000269305       1260       1003   257      257
24078         TTN  ENST00000591111       1886          0  1886     1886
24077         TTN  ENST00000589042          0       1694 -1694     1694
25035       XIRP2  ENST00000628543        215          0   215      215
25034       XIRP2  ENST00000409195         13        214  -201      201

In [16]:
# Export data to CSV
df_per_tx.to_csv('../processed_data/variant_count_diff.per_tx.csv', index=False)
df_per_tx_sample.to_csv('../processed_data/variant_count_diff.per_tx_sample.csv', index=False)
df_per_tx_sample_variant_type.to_csv('../processed_data/variant_count_diff.per_tx_sample_type.csv', index=False)

In [17]:
df_per_tx[df_per_tx['hugo_symbol'].str.startswith('U2AF1')]

      hugo_symbol    transcript_id  gdc_count  mc3_count  diff  absdiff
24201     U2AF1L4  ENST00000412391         16          0    16       16
24199       U2AF1  ENST00000291552          4         18   -14       14
24200     U2AF1L4  ENST00000292879          0          9    -9        9

In [18]:
df_per_tx_sample[df_per_tx_sample['hugo_symbol'] == 'APC'].head()

,hugo_symbol,transcript_id,tumor_sample_barcode,gdc_count,mc3_count,diff
73,APC,ENST00000257430,TCGA-CA-6717-01A-11D-1835-10,9,0,9
130,APC,ENST00000257430,TCGA-AN-A046-01A-21W-A050-09,7,0,7
131,APC,ENST00000257430,TCGA-AA-A010-01A-01D-A17O-10,7,0,7
145,APC,ENST00000257430,TCGA-CM-6166-01A-11D-1650-10,7,0,7
311,APC,ENST00000257430,TCGA-AA-3947-01A-01D-1981-10,5,0,5

In [19]:
pd.set_option('display.max_columns', None)

## TP53

Check if there is any flag for the variants of TP53.

In [20]:
sample = 'TCGA-BH-A0EE-01A-11W-A050-09'
gene = 'TP53'
df_gdc = pd.read_sql(
    '''
    SELECT 
        chromosome, start_position, end_position, 
        variant_classification, variant_type, 
        reference_allele, tumor_seq_allele1, tumor_seq_allele2,
        dbsnp_rs, sequencer,
        t_depth_per_caller, t_ref_count_per_caller, t_alt_count_per_caller,
        n_depth_per_caller, callers
    FROM gdc_grouped_callers
    WHERE hugo_symbol=? AND tumor_sample_barcode=?
    ''',
    conn,
    params=[gene, sample]
).sort_values(['start_position', 'end_position', "callers"])
df_mc3 = pd.read_sql(
    '''
    SELECT 
        chromosome, start_position, end_position, 
        variant_classification, variant_type, 
        reference_allele, tumor_seq_allele1, tumor_seq_allele2,
        dbsnp_rs,
        t_depth, t_ref_count, t_alt_count, n_depth,
        centers, ncallers
    FROM mc3_selected
    WHERE hugo_symbol=? AND tumor_sample_barcode=?
    ''',
    conn,
    params=[gene, sample]
)

In [21]:
df_gdc

,chromosome,start_position,end_position,variant_classification,variant_type,reference_allele,tumor_seq_allele1,tumor_seq_allele2,dbsnp_rs,sequencer,t_depth_per_caller,t_ref_count_per_caller,t_alt_count_per_caller,n_depth_per_caller,callers
1,chr17,7675079,7675079,Missense_Mutation,SNP,T,T,G,,Illumina Genome Analyzer II,"86,99","58,52","25,16","167,145",somaticsniper|varscan
0,chr17,7675079,7675079,Frame_Shift_Del,DEL,T,T,-,novel,Illumina Genome Analyzer II,109,76,32,145,varscan
2,chr17,7675085,7675085,Missense_Mutation,SNP,C,C,G,,Illumina Genome Analyzer II,"115,115,96","66,66,50","45,45,40","153,153,131",muse|somaticsniper|varscan

In [22]:
df_mc3

,chromosome,start_position,end_position,variant_classification,variant_type,reference_allele,tumor_seq_allele1,tumor_seq_allele2,dbsnp_rs,t_depth,t_ref_count,t_alt_count,n_depth,centers,ncallers
0,17,7675079,7675085,Frame_Shift_Del,DEL,TGGGGGC,TGGGGGC,GGGGGG,novel,67,37,30,69,PINDEL|MUSE*|SOMATICSNIPER*|VARSCANI*|INDELOCA...,7

## Exact Overlap

In [23]:
tx_id = 'ENST00000269305'
df_exact_overlap = pd.read_sql(
f'''\
WITH gdc_of_a_tx AS (
    SELECT 
        chromosome, start_position, end_position, tumor_sample_barcode,
        variant_classification, variant_type, 
        reference_allele, tumor_seq_allele1, tumor_seq_allele2,
        t_depth_per_caller, t_ref_count_per_caller, t_alt_count_per_caller,
        n_depth_per_caller, callers
    FROM gdc_grp_shared_samples
    WHERE transcript_id='{tx_id}'
), mc3_of_a_tx AS (
    SELECT 
        'chr' || chromosome AS chromosome, start_position, end_position, tumor_sample_barcode,
        variant_classification, variant_type, 
        reference_allele, tumor_seq_allele1, tumor_seq_allele2,
        t_depth, t_ref_count, t_alt_count, n_depth,
        centers, ncallers
    FROM mc3_selected
    WHERE transcript_id='{tx_id}'
) 
SELECT 
    start_position, end_position, tumor_sample_barcode, reference_allele, tumor_seq_allele2,
    g.tumor_seq_allele1 AS gdc_tumor_seq_allele1, 
    m.tumor_seq_allele1 AS mc3_tumor_seq_allele1,
    g.variant_classification AS gdc_variant_classification, 
    m.variant_classification AS mc3_variant_classification, 
    g.variant_type AS gdc_variant_type,
    m.variant_type AS mc3_variant_type,
    g.callers AS gdc_callers,
    m.centers AS mc3_callers, 
    m.ncallers AS mc3_ncallers
FROM gdc_of_a_tx g
LEFT JOIN mc3_of_a_tx m
    USING (tumor_sample_barcode, start_position, end_position, reference_allele, tumor_seq_allele2)
UNION ALL
SELECT 
    start_position, end_position, tumor_sample_barcode, reference_allele, tumor_seq_allele2,
    g.tumor_seq_allele1 AS gdc_tumor_seq_allele1, 
    m.tumor_seq_allele1 AS mc3_tumor_seq_allele1,
    g.variant_classification AS gdc_variant_classification, 
    m.variant_classification AS mc3_variant_classification, 
    g.variant_type AS gdc_variant_type,
    m.variant_type AS mc3_variant_type,
    g.callers AS gdc_callers,
    m.centers AS mc3_callers, 
    m.ncallers AS mc3_ncallers
FROM mc3_of_a_tx m
LEFT JOIN gdc_of_a_tx g
    USING (tumor_sample_barcode, start_position, end_position, reference_allele, tumor_seq_allele2)
WHERE gdc_tumor_seq_allele1 IS NULL
''', conn)

In [24]:
df_exact_overlap = df_exact_overlap.sort_values(['start_position'])

In [25]:
df_exact_overlap = df_exact_overlap[~df_exact_overlap.duplicated()]

In [26]:
df_exact_overlap.head()

,start_position,end_position,tumor_sample_barcode,reference_allele,tumor_seq_allele2,gdc_tumor_seq_allele1,mc3_tumor_seq_allele1,gdc_variant_classification,mc3_variant_classification,gdc_variant_type,mc3_variant_type,gdc_callers,mc3_callers,mc3_ncallers
354,7669353,7669353,TCGA-29-1691-01A-01W-0633-09,T,C,T,None,3'UTR,None,SNP,None,mutect,None,None
773,7669464,7669464,TCGA-AD-6889-01A-11D-1924-10,C,-,C,None,3'UTR,None,DEL,None,mutect,None,None
1081,7669511,7669511,TCGA-D8-A1XK-01A-21D-A14K-09,T,C,T,T,3'UTR,3'UTR,SNP,SNP,muse,MUTECT|MUSE,2
533,7669624,7669624,TCGA-61-2113-01A-01W-0722-08,C,T,C,None,Silent,None,SNP,None,mutect,None,None
285,7670664,7670664,TCGA-24-1843-01A-01W-0639-09,C,A,C,C,Nonsense_Mutation,Nonsense_Mutation,SNP,SNP,muse|mutect|somaticsniper,SOMATICSNIPER|RADIA|MUTECT|MUSE|VARSCANS,5

In [27]:
def grp_fun(df):
    gdc_called = df['gdc_callers'].notnull()
    mc3_called = df['mc3_callers'].notnull()
    return pd.DataFrame([[ 
        (gdc_called & mc3_called).sum(),  
        gdc_called.sum() - (gdc_called & mc3_called).sum(),
        mc3_called.sum() - (gdc_called & mc3_called).sum()
    ]], columns=['shared', 'only_in_gdc', 'only_in_mc3'])
df_overlap_grp = df_exact_overlap.groupby(['start_position', 'end_position']).apply(grp_fun).reset_index()

In [28]:
df_overlap_grp[df_overlap_grp['only_in_gdc'] > 0]

     start_position  end_position  level_2  shared  only_in_gdc  only_in_mc3
0           7669353       7669353        0       0            1            0
1           7669464       7669464        0       0            1            0
3           7669624       7669624        0       0            1            0
23          7673243       7673243        0       0            1            0
36          7673579       7673579        0       2            1            0
56          7673755       7673756        0       0            1            0
57          7673756       7673757        0       0            1            0
60          7673763       7673763        0       4            1            0
66          7673775       7673776        0       0            1            0
75          7673783       7673796        0       0            1            0
78          7673788       7673788        0       8            1            0
86          7673801       7673810        0       0            1            0
88          7673803       7673803        0      21            1            1
105         7673835       7673835        0       1            1            0
107         7674174       7674183        0       0            1            0
109         7674182       7674183        0       0            1            0
111         7674185       7674185        0       0            1            0
123         7674206       7674206        0       2            1            0
161         7674276       7674277        0       1            1            0
166         7674694       7674695        0       0            1            0
167         7674779       7674780        0       0            1            0
172         7674863       7674864        0       0            1            0
180         7674886       7674886        0       1            1            0
195         7674927       7675013        0       0            1            0
205         7674948       7674972        0       0            1            0
209         7674957       7674957        0      11            2            0
211         7674960       7674961        0       0            1            0
221         7675075       7675075        0       0            1            0
222         7675076       7675076        0      13            1            0
225         7675079       7675079        0       0            2            0
..              ...           ...      ...     ...          ...          ...
230         7675085       7675085        0      21            2            0
237         7675095       7675095        0       9            1            0
238         7675096       7675113        0       0            1            0
242         7675111       7675111        0       0            2            0
260         7675142       7675143        0       0            1            0
267         7675147       7675147        0       0            1            0
272         7675152       7675182        0       0            1            0
285         7675181       7675182        0       0            1            0
286         7675182       7675182        0       1            1            1
287         7675184       7675185        0       0            1            0
311         7675229       7675229        0       2            2            0
313         7675231       7675241        0       0            1            0
314         7675232       7675232        0       6            2            0
320         7675239       7675239        0       0            1            0
321         7675246       7675246        0       0            1            0
323         7675994       7675994        0       6            2            0
325         7675997       7675997        0       2            1            0
330         7676025       7676033        0       0            1            0
342         7676046       7676046        0       2            1            0
345         7676049       7676049        0       0            1            0
346         7676049       7676050        0       0            1            0
350         7676065       7676065        0       1            1            0
356         7676097       7676097        0       1            1            0
366         7676153       7676153        0       0            1            0
367         7676171       7676172        0       0            1            0
372         7676208       7676218        0       0            1            0
379         7676251       7676252        0       0            1            0
383         7676267       7676280        0       0            1            0
389         7676500       7676500        0       0            1            0
391         7676604       7676604        0       0            1            0

[61 rows x 6 columns]

In [29]:
df_overlap_grp[df_overlap_grp['only_in_mc3'] > 0]

     start_position  end_position  level_2  shared  only_in_gdc  only_in_mc3
68          7673776       7673778        0       0            0            1
88          7673803       7673803        0      21            1            1
90          7673806       7673806        0      12            0            1
95          7673813       7673814        0       0            0            1
112         7674185       7674186        0       0            0            1
210         7674957       7674959        0       2            0            1
226         7675079       7675085        0       0            0            1
262         7675143       7675147        0       0            0            1
270         7675149       7675182        0       0            0            1
286         7675182       7675182        0       1            1            1
300         7675208       7675208        0       4            0            2
302         7675212       7675212        0       0            0            1
312         7675231       7675232        0       0            0            1
341         7676044       7676078        0       0            0            1
344         7676047       7676049        0       0            0            1
368         7676172       7676173        0       0            0            1

In [30]:
df_overlap_grp.to_csv('../processed_data/tp53_overlap.csv', index=False)